<div class="container mt-2">
    <div class="row">
        <div class="col-md-6 border shadow">
            <div>
                <label for="id1" class="form-label">ParentMessage</label>
                <input type="text" class="form-control"  id="id1" [(ngModel)]="parentMessage">
            </div>
                  <div class="mb-3">
                    <p>data recived from child Component:{{dataReciveFromChildComp}}<p>
                  </div>
        </div>
        <div class="col-md-6 border shadow">
            <app-child [dataReceivedFromParentComp]="parentMessage" (sendData)="reciveMessage($event)"></app-child>
        </div>
    </div>
</div>

